// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Space+Grotesk:wght@500;700&display=swap');

// Import SCSS files
@import './variables.scss';
@import './reset.scss';